/* -- Imports -- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* -- Roots -- */
:root {
    --primary-color-turqoise: #00BCB0;
    --secondary-color-orange: #F5793B;
    --secondary-color-dark-blue: #343F4F;
    --secondary-color-black: #121212; 
    --secondary-color-white: #F2F2F2;

    --tertiary-color-white: #fff;
    --tertiary-color-black: #000;

    --font-family-fredoka: 'Fredoka', sans-serif;
    --font-family-quicksand: 'Quicksand', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* -- Section 1 centered text -- */
.section-1 {
    min-height: 100vh;
    background-color: var(--tertiary-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-div {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-div h1 {
    font-size: 128px;
    font-family: var(--font-family-fredoka);
    font-weight: 500;
    margin-bottom: 35px;
}
/* .text-div h1 {
    position: absolute; 
    transform: translate(-50%, -50%); 
}
.text-div h1:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-color-turqoise);
}
.text-div h1:nth-child(2)
{
    color: var(--primary-color-turqoise);
    animation: animate-water 4s ease-in-out infinite;
}
@keyframes animate-water
{
    0%, 100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
} */
.text-div p {
    font-size: 28px;
    font-family: var(--font-family-quicksand);
    font-weight: 400;
}
.text-div .intro {
    text-align: center;
}
.text-div .cta {
    margin: 20px 0px;
    font-weight: 600;
}
.social {
    width: 275px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
}
.text-div .social:hover {
    cursor: pointer;
}
/* - Text animation - */
.overflow-hidden {
    overflow: hidden;
}
.drop-down {
    animation: drop-down 2s ease 200ms backwards;
}
.drop-down-2 {
    animation: drop-down 2.5s ease 650ms backwards;
}
@keyframes drop-down {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}


/* -- Section 2 -- */
.section-2 {
    min-height: 100vh;
    background-color: var(--secondary-color-dark-blue);
}

/* -- Section 3 -- */
.section-3 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery-text {
    margin-bottom: 75px;
    width: 100%;
    height: auto;
}
.gallery-text .title {
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-family-fredoka);
    font-weight: 300;
}
.gallery-cta {
    margin-top: 75px;
}
.button-gallery a {
    text-decoration: none;
    color: var(--secondary-color-black);
}
.button-gallery {
    align-items: center;
    appearance: none;
    background-color: var(--primary-color-turqoise);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
    box-sizing: border-box;
    color: #f4a724;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
.button-gallery:focus {
    box-shadow: var(--secondary-color-black) 0 0 0 1.5px inset, rgba(0, 0, 0, 0.5) 0 2px 4px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, var(--secondary-color-black) 0 -3px 0 inset;
}
.button-gallery:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, rgba(7, 132, 195, 0.3) 0 -2px 0 inset;
    transform: translateY(-2px);
}
.button-gallery:active {
    box-shadow: var(--secondary-color-black) 0 3px 7px inset;
    transform: translateY(2px);
}

/* - Image Carousel - */
.container-carousel {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
}
.wrapper {
    max-width: 1200px;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: var(--primary-color-turqoise);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
    transform: translateY(-50%);
}
.wrapper i:active {
    box-shadow: var(--secondary-color-black) 0 3px 7px inset;
}
.wrapper i:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, rgba(7, 132, 195, 0.3) 0 -2px 0 inset;
}
.wrapper i:first-child {
    left: -23px;
    display: none;
}
.wrapper i:last-child {
    right: -23px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 360px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel img:first-child {
    margin-left: 0px;
}

/* -- Section 4 -- */
.section-4 {
    height: 100vh;
    background-color: var(--secondary-color-dark-blue);
}

/* -- Section 5 -- */
.section-5 {
    min-height: 50vh;
}

/* -- Media queries -- */
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 736px) {
    /* -- Section 1 -- */
    .text-div {
        width: 80%;
    }
    .text-div h1 {
        font-size: 70px;
    }
    .text-div p {
        font-size: 18px;
    }
    .text-div .social {
        position: fixed;
        bottom: 0;
    }

    /* -- Section 2 -- */

    /* -- Section 3 -- */
    .carousel img {
        width: calc(100%);
    }
    .button-gallery {
        padding: 0 40px;
    }
    .gallery-text .title {
        font-size: 48px;
    }
    .gallery-cta {
        margin-top: 50px;
    }

    /* -- Section 4 -- */
    
    /* -- Section 5 -- */
}
