/* -- Imports -- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* -- Roots -- */
:root {
    --primary-color: #00BCB0;
    --secondary-color: #F5793B;
    --secondary-color-2: #343F4F;
    --color-text: #121212; 
    --off-white: #F2F2F2;

    --tertiary-color-white: #fff;
    --tertiary-color-black: #000;

    --font-family-fredoka: 'Fredoka', sans-serif;
    --font-family-quicksand: 'Quicksand', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* -- Webkits -- */
body::-webkit-scrollbar {
    display: none;
}

/* -- Navigation -- */

/* - Inversing the nav - */
.nav-no-scroll {
    --primary-color: #00BCB0;
    --secondary-color: #F5793B;
    --color-text: #121212;
}
.nav-scroll {
    --primary-color: #F5793B;
    --secondary-color: #00BCB0;
    --color-text: #fff;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 1000;
}
header .logo img {
    height: 80px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    font-family: var(--font-family-fredoka);
    font-weight: 300;
    font-size: 16px;
    color: var(--color-text);
    letter-spacing: 2px;
    transition: 1.2s;
}
header ul li a:hover {
    color: var(--secondary-color);
    transition: 0.6s;
}
header .menu-hamburger {
    display: none;
    position: absolute;
    top: 35px;
    right: 35px;
    color: var(--color-text);
}

/* -- Section 1 centered text -- */
.section-1 {
    min-height: 100vh;
    background-color: var(--tertiary-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-div {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-div h1 {
    font-size: 128px;
    font-family: var(--font-family-fredoka);
    font-weight: 500;
    margin-bottom: 35px;
}
/* .text-div h1 {
    position: absolute; 
    transform: translate(-50%, -50%); 
}
.text-div h1:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-color);
}
.text-div h1:nth-child(2)
{
    color: var(--primary-color);
    animation: animate-water 4s ease-in-out infinite;
}
@keyframes animate-water
{
    0%, 100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
} */
.text-div p {
    font-size: 28px;
    font-family: var(--font-family-quicksand);
    font-weight: 400;
}
.text-div .intro {
    text-align: center;
}
.text-div .cta {
    margin: 20px 0px;
    font-weight: 600;
}

/* - Text animation - */
.overflow-hidden {
    overflow: hidden;
}
.drop-down {
    animation: drop-down 2s ease 200ms backwards;
}
.drop-down-2 {
    animation: drop-down 2.5s ease 650ms backwards;
}
@keyframes drop-down {
    from {
     opacity: 0;
     transform: translateX(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}


/* -- Section 2 -- */
.section-2 {
    min-height: 100vh;
    background-color: var(--secondary-color-2);
    display: flex;
    align-items: center;
    flex-direction: row;
}
.image-wrapper {
    width: auto;
    margin: 0px 250px;
    height: 75vh;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition: 0.6s ease-in-out;
    filter: grayscale(100%);
}
.image-wrapper img {
    border-bottom: 8px solid var(--secondary-color);
    border-radius: 20px;
}
.image-wrapper:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
    filter: grayscale(20%);
}
.text-wrapper {
    width: 50%;
    /* border: 1px solid blue; */
    height: 100vh;
    display: flex;
    justify-content: center;
}
.about-text {
    margin-top: 200px;
    margin-right: 100px;
    width: 80%; 
    /* border: 1px solid red; */
}
.about-text .line-1 {
    height: 5px;
    background: var(--primary-color);
    border-radius: 5px;
    width: 20%;
    margin: 0px 0px 50px 0px;
}
.about-text h1 {
    text-align: left;
    color: var(--off-white);
    font-family: var(--font-family-fredoka);
    font-weight: 400;
    font-size: 40px;
    padding: 0px 0px 10px 0px;
}
.about-text p {
    text-align: left;
    color: var(--off-white);
    font-family: var(--font-family-quicksand);
    font-weight: 300;
    font-size: 20px;
    /* border: 1px solid green; */
    width: 80%;
    height: auto;
    padding: 20px;
}

/* -- Section 3 -- */
.section-3 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery-text {
    margin-bottom: 75px;
    width: 100%;
    height: auto;
}
.gallery-text .title {
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-family-fredoka);
    font-weight: 300;
}
.gallery-cta {
    margin-top: 75px;
}
.button-gallery a {
    text-decoration: none;
    color: var(--color-text);
}
.button-gallery {
    align-items: center;
    appearance: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-family-fredoka);
    width: 150px;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
.button-gallery:focus {
    box-shadow: var(--color-text) 0 0 0 1.5px inset, rgba(0, 0, 0, 0.5) 0 2px 4px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, var(--color-text) 0 -3px 0 inset;
}
.button-gallery:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, rgba(7, 132, 195, 0.3) 0 -2px 0 inset;
    transform: translateY(-2px);
}
.button-gallery:active {
    box-shadow: var(--color-text) 0 3px 7px inset;
    transform: translateY(2px);
}

/* - Image Carousel - */
.container-carousel {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
}
.wrapper {
    max-width: 1200px;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: var(--primary-color);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
    transform: translateY(-50%);
}
.wrapper i:active {
    box-shadow: var(--color-text) 0 3px 7px inset;
}
.wrapper i:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, rgba(7, 132, 195, 0.3) 0 -2px 0 inset;
}
.wrapper i:first-child {
    left: -23px;
    display: none;
}
.wrapper i:last-child {
    right: -23px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 360px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel img:first-child {
    margin-left: 0px;
}

/* -- Section 4 -- */
.section-4 {
    height: 100vh;
    background-color: var(--secondary-color-2);
}

/* -- Section 5 -- */
.section-5 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .section-5 h2 {
    color: var(--off-white);
    font-weight: 600;
    font-family: var(--font-family-fredoka);
    margin-bottom: 20px;
}
.section-5 input, .section-5 textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: var(--off-white);
    font-size: 16px;
    font-weight: 200;
    font-family: var(--font-family-quicksand);
}
.section-5 button a {
    text-decoration: none;
    color: var(--color-text);
}
.section-5 button {
    align-items: center;
    appearance: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-family-fredoka);
    height: 48px;
    width: 150px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
.section-5 button:focus {
    box-shadow: var(--color-text) 0 0 0 1.5px inset, rgba(0, 0, 0, 0.5) 0 2px 4px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, var(--color-text) 0 -3px 0 inset;
}
.section-5 button:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, rgba(7, 132, 195, 0.3) 0 -2px 0 inset;
    transform: translateY(-2px);
}
.section-5 button:active {
    box-shadow: var(--color-text) 0 3px 7px inset;
    transform: translateY(2px);
} */


form {
    background-color: var(--secondary-color-2);
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h2 {
    color: var(--off-white);
    font-weight: 600;
    font-family: var(--font-family-fredoka);
    margin-bottom: 20px;
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: var(--off-white);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-family-quicksand);
}
form button {
    text-decoration: none;
    color: var(--color-text);
}
form button {
    align-items: center;
    appearance: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-family-fredoka);
    height: 48px;
    width: 150px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
form button:focus {
    box-shadow: var(--color-text) 0 0 0 1.5px inset, rgba(0, 0, 0, 0.5) 0 2px 4px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, var(--color-text) 0 -3px 0 inset;
}
form button:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px, rgba(0, 0, 0, 0.4) 0 7px 13px -3px, rgba(7, 132, 195, 0.3) 0 -2px 0 inset;
    transform: translateY(-2px);
}
form button:active {
    box-shadow: var(--color-text) 0 3px 7px inset;
    transform: translateY(2px);
}
.social {
    width: 275px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
}
.social:hover {
    cursor: pointer;
}


/* -- Media queries -- */
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 736px) {
    /* -- Header / Nav -- */
    header .logo img {
        height: 60px;
    }
    header {
        padding: 0;
    }
    header .logo {
        position: absolute;
        top: 20px;
        left: 25px;
    }
    header .menu-hamburger {
        display: block;
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200%;
        transition: 0.3s ease-in-out;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .nav-links ul li {
        margin: 35px 0;
    }
    header .nav-links ul li a {
        color: var(--color-text); /* This was primary color -> changed till observer fix? */
        font-weight: 400;
        font-size: 20px;
    }
    
    /* -- Section 1 -- */
    .text-div {
        width: 80%;
    }
    .text-div h1 {
        font-size: 70px;
    }
    .text-div p {
        font-size: 18px;
    }

    /* -- Section 2 -- */
    .section-2 {
        flex-direction: column;
    }
    .image-wrapper {
        width: 80%;
        height: 50vh;
    }
    .text-wrapper {
        width: 80%;
        height: 50vh;
    }

    /* -- Section 3 -- */
    .carousel img {
        width: calc(100%);
    }
    .button-gallery {
        padding: 0 40px;
    }
    .gallery-text .title {
        font-size: 48px;
    }
    .gallery-cta {
        margin-top: 50px;
    }

    /* -- Section 4 -- */
    
    /* -- Section 5 -- */
}
