/* -- Imports -- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* -- Roots -- */
:root {
    --primary-color-turqoise: #00BCB0;
    --secondary-color-orange: #F5793B;
    --secondary-color-black: #121212; 
    --secondary-color-white: #F2F2F2;

    --tertiary-color-white: #fff;
    --tertiary-color-black: #000;

    --font-family-fredoka: 'Fredoka', sans-serif;
    --font-family-quicksand: 'Quicksand', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--tertiary-color-white);
    min-height: 100vh;
}
/* -- Webkits -- */
body::-webkit-scrollbar {
    display: none;
}

/* -- Navigation -- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 1000;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: var(--tertiary-color-black);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1.2s;
}
header .logo img {
    height: 80px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    font-family: var(--font-family-fredoka);
    font-weight: 300;
    font-size: 16px;
    color: var(--secondary-color-black);
    letter-spacing: 2px;
    transition: 1.2s;
}
header ul li a:hover {
    color: var(--secondary-color-orange);
    transition: 0.6s;
}