  /* -- Imports -- */
  @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

  /* -- Roots -- */
  :root {
      --primary-color: #00BCB0;
      --secondary-color: #F5793B;
      --color-text: #121212; 
      --off-white: #F2F2F2;

      --tertiary-color-white: #fff;
      --tertiary-color-black: #000;

      --font-family-fredoka: 'Fredoka', sans-serif;
      --font-family-quicksand: 'Quicksand', sans-serif;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  /* body {
      background: var(--tertiary-color-white);
      min-height: 100vh;
  } */
  body {
      margin: 0;
      min-height: 100vh;
      font-size: 1rem;
      line-height: 1.25;
      background-color: #fff;
  }
  /* -- Webkits -- */
  body::-webkit-scrollbar {
      display: none;
  }

  /* -- Navigation -- */
  /* - Inversing the nav - */
  .nav-no-scroll {
      --primary-color: #00BCB0;
      --secondary-color: #F5793B;
      --color-text: #121212;
  }
  .nav-scroll {
      --primary-color: #F5793B;
      --secondary-color: #00BCB0;
      --color-text: #fff;
  }
  header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      transition: 0.6s;
      padding: 20px 100px;
      z-index: 1000;
  }
  header .logo img {
      height: 80px;
  }
  header ul {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  header ul li {
      position: relative;
      list-style: none;
  }
  header ul li a {
      position: relative;
      margin: 0 15px;
      text-decoration: none;
      font-family: var(--font-family-fredoka);
      font-weight: 300;
      font-size: 16px;
      color: var(--color-text);
      letter-spacing: 2px;
      transition: 1.2s;
  }
  header ul li a:hover {
      color: var(--secondary-color);
      transition: 0.6s;
  }
  header .menu-hamburger {
      display: none;
      position: absolute;
      top: 35px;
      right: 35px;
      color: var(--color-text);
  }
  .grid {
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grid-block {
    width: 50%;
    min-height: 11.25rem;
    padding: 1rem;
  }
  /* .image-grid {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
    -webkit-perspective: 1000px;
    perspective: 1000px;
  } */
  .image-grid .tile-link:hover .tile-img {
    top: -1rem;
    left: -1rem;
  }
  .image-grid .tile-img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity, top, left, box-shadow;
    transition-property: opacity, top, left, box-shadow;
  }
  .tile-link {
    display: block;
  }
  .tile-link:hover .tile-img {
    opacity: 1;
  }
  .tile-link:hover .tile-img-link {
    display: block;
  }
  .tile-link:hover .tile-img-link:hover .tile-img {
    opacity: 0.5;
  }
  .tile-img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.125s;
    transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }



    /* Box shadows custom
    box-shadow: 5px 5px rgba(0, 188, 176, 0.4),
      10px 10px rgba(50, 164, 220, 0.3), 15px 15px rgba(50, 164, 220, 0.2),
      20px 20px rgba(50, 164, 220, 0.1), 25px 25px rgba(50, 164, 220, 0.05);

    box-shadow: 5px 5px rgba(245, 121, 59, 0.4), 10px 10px rgba(221, 92, 30, 0.3),
      15px 15px rgba(221, 92, 30, 0.2), 20px 20px rgba(221, 92, 30, 0.1),
      25px 25px rgba(221, 92, 30, 0.05); 
      */

  .tile-link:hover .tile-img1 {
      box-shadow: 5px 5px rgba(245, 121, 59, 0.4), 10px 10px rgba(221, 92, 30, 0.3),
      15px 15px rgba(221, 92, 30, 0.2), 20px 20px rgba(221, 92, 30, 0.1),
      25px 25px rgba(221, 92, 30, 0.05);
  }
  .tile-link:hover .tile-img2 {
    box-shadow: 5px 5px rgba(0, 188, 176, 0.4),
      10px 10px rgba(50, 164, 220, 0.3), 15px 15px rgba(50, 164, 220, 0.2),
      20px 20px rgba(50, 164, 220, 0.1), 25px 25px rgba(50, 164, 220, 0.05);
  }
  .tile-link:hover .tile-img3 {
    box-shadow: 5px 5px rgba(245, 121, 59, 0.4), 10px 10px rgba(221, 92, 30, 0.3),
      15px 15px rgba(221, 92, 30, 0.2), 20px 20px rgba(221, 92, 30, 0.1),
      25px 25px rgba(221, 92, 30, 0.05);
  }
  .tile-link:hover .tile-img4 {
    box-shadow: 5px 5px rgba(0, 188, 176, 0.4),
      10px 10px rgba(50, 164, 220, 0.3), 15px 15px rgba(50, 164, 220, 0.2),
      20px 20px rgba(50, 164, 220, 0.1), 25px 25px rgba(50, 164, 220, 0.05);
  }
  .tile-link:hover .tile-img5 {
    box-shadow: 5px 5px rgba(245, 121, 59, 0.4), 10px 10px rgba(221, 92, 30, 0.3),
      15px 15px rgba(221, 92, 30, 0.2), 20px 20px rgba(221, 92, 30, 0.1),
      25px 25px rgba(221, 92, 30, 0.05);
  }
  .tile-link:hover .tile-img6 {
    box-shadow: 5px 5px rgba(0, 188, 176, 0.4),
      10px 10px rgba(50, 164, 220, 0.3), 15px 15px rgba(50, 164, 220, 0.2),
      20px 20px rgba(50, 164, 220, 0.1), 25px 25px rgba(50, 164, 220, 0.05);
  }
  .tile-link:hover .tile-img7 {
    box-shadow: 5px 5px rgba(91, 209, 250, 0.4), 10px 10px rgba(91, 209, 250, 0.3),
      15px 15px rgba(91, 209, 250, 0.2), 20px 20px rgba(91, 209, 250, 0.1),
      25px 25px rgba(91, 209, 250, 0.05);
  }
  .tile-link:hover .tile-img8 {
    box-shadow: 5px 5px rgba(145, 156, 196, 0.4),
      10px 10px rgba(145, 156, 196, 0.3), 15px 15px rgba(145, 156, 196, 0.2),
      20px 20px rgba(145, 156, 196, 0.1), 25px 25px rgba(145, 156, 196, 0.05);
  }
  .tile-link:hover .tile-img9 {
    box-shadow: 5px 5px rgba(188, 97, 129, 0.4), 10px 10px rgba(188, 97, 129, 0.3),
      15px 15px rgba(188, 97, 129, 0.2), 20px 20px rgba(188, 97, 129, 0.1),
      25px 25px rgba(188, 97, 129, 0.05);
  }
  .tile-link:hover .tile-img10 {
    box-shadow: 5px 5px rgba(4, 140, 231, 0.4), 10px 10px rgba(4, 140, 231, 0.3),
      15px 15px rgba(4, 140, 231, 0.2), 20px 20px rgba(4, 140, 231, 0.1),
      25px 25px rgba(4, 140, 231, 0.05);
  } 

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 736px) {
    header .logo img {
        height: 60px;
    }
    header {
        padding: 0;
    }
    header .logo {
        position: absolute;
        top: 20px;
        left: 25px;
    }
    header .menu-hamburger {
        display: block;
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200%;
        transition: 0.3s ease-in-out;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .nav-links ul li {
        margin: 35px 0;
    }
    header .nav-links ul li a {
        color: var(--color-text); /* This was primary color -> changed till observer fix? */
        font-weight: 400;
        font-size: 20px;
    }
    .grid {
        width: 90%;
        justify-content: center;
    }
    .grid-block {
        width: 90%;
    }
}
